# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Maven build directory
target/

# Ignore ALL mp4 files...
*.mp4

# EXCEPT this specific test video for the server Jest unit tests
!server/public/videos/Salamander5Seconds.mp4

# Node Modules
node_modules/

# Env
.env

# Jobs (ignored, unless you decide to track jobs.json later)
jobs/

# Local Test Folders
test_results/
test_videos/
